extends layout

block content
  div(class='intro-container text-xl')
    h1(class='creepster red') Cursed Library
    p Welcome to the Cursed Library
    a(href="/signin") Sign In
    h2 Most Cursed Stories
  section(class='stories-container')

    
