extends layout

block content
  div(class='intro-container text-xl')
    h1(class='creepster') Cursed Library
    if user
      p Logged in as: 
        strong #{user.username}
      a(href=`/users/${user.id}`) My Profile
    if !user
      a(href="/signin" class='button-rounded') Sign In
    h3 An Archive Of The Most Cursed Stories.
  section(class='stories-container')

    
