doctype html
html
  head
    title= title
    script(type="application/javascript" src= "/tinymce/tinymce.min.js")
    script(type="application/javascript" src= "/javascripts/my-tinymce-config.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Creepster&family=Open+Sans&display=swap" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")

  body
    nav(class='top-nav')
     a(href='/' class='nav-link creepster') TCL
     a(href='/signin' class='nav-link button-rounded') Sign In
     a(href='/signup' class='nav-link button-rounded') Sign Up
     a(href='/story/story-form' class='nav-link button-rounded-invert') New Story
    block content
