extends layout

block content
  div(class='sign-in')
    h1 Sign In
    form(action='/signin', method='post' class='account-form')
      label(for='username') Username:
      input(type='text' id='username' name='username' required)

      label(for='password') Password:
      input(type='password' id='password' name='password' required)

      input(type='submit' value='Sign In' class='button-fit')
    a(href='/signup' class='mt1') Need an account? Sign Up