extends layout

block content
    h2 User Page
    if user.username = username
      p Logged in as #{username}
    else 
      p #{username}
    h2 My Stories
    for item in storyData
      a(href=`/story/${item.id}`) #{item.title}
       