body, html {
  background-color: black;
  color: rgb(218, 218, 218);
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5rem; /* 24px */
  font-family: 'Times New Roman', Times, serif;
}
input {
  background-color: inherit;
  border-color: red;
  color: red;
}
a {
  color: red;
}
.top-nav {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #222f3e;
}
.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}
.creepster {
  font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.red {
  color: red;
}
.nav-link {
  font-size: 22px;
}
.sign-in, .sign-up {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}
.intro-container {
  padding-top: 50px;
  max-width: 70vw;
  text-align: center;
  min-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

